.grand-home {
  width: 100%;
  min-height: 100vh;
  /* background-image: url("../../assets/images/cars.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.father-home {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.child-home {
  color: rgb(82, 63, 99);
}
